{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12">
	<h2 class="list-client-title"> Liste des Clients </h2>
</div>
<div class="col-md-12">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="col-md-12 table-client-test">
	        {% for label, flashes in app.session.flashbag.all %}
	            {% for flash in flashes %}
	                <div class="alert alert-{{ label }}">
	                    {{ flash }}
	                </div>
	            {% endfor %}
	        {% endfor %}
    	</div>
		<table id="myTable" class="display" cellspacing="0" width="100%">
			<thead>
		   		<tr>
		       		<th class="search-table-title">Nom</th>
		       		<th class="search-table-title">Typologie</th>
		       		<th class="search-table-title">Ecole</th>
		       		<th>Modifier</th>
		       		<th>Supprimer</th>
		   		</tr>
		   	</thead>
		   	<tfoot>
		   		<tr>
		       		<th class="search-table-title">Nom</th>
		       		<th class="search-table-title">Typologie</th>
		       		<th class="search-table-title">Ecole</th>
		       		<th>Modifier</th>
		       		<th>Supprimer</th>
		   		</tr>
		   	</tfoot>
    		<tbody>
			</tbody>
		</table>

	</div>
	<div class="col-md-1"></div>
</div>

		<script>
			$(document).ready(function () {
				$.ajax('{{ asset("stub/deals.json") }}').done(function (data) {
					data.data.forEach(function(deal){
						console.log(deal);
						var typo = "unknown";
						switch (deal.pipeline_id){
							case 1:
								typo = "projet";
								break;
							case 7:
								typo = "élève";
								break;
							default:
								break;
						}
						$('tbody').append("" +
								"<tr>" +
								"	<td>"+deal.title+"</td>" +
								"	<td>"+typo+"</td>" +
								"	<td>"+deal.dc8169a887137f530107d12b3c547b830a39046d+"</td>" +
								"	<td><a href=''>Modifier</a></td>" +
								"	<td><a href=''>Supprimer</a></td>" +
								"</tr>"
						);
					})
				});
			});
		</script>

{% endblock %}