{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12">
	<h2 class="list-product-title"> Liste des Produits Existants </h2>
</div>
<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table>
		   <tr>
		       <th>Type</th>
		       <th>Nom</th>
		       <th>Contenu</th>
		   </tr>

		   {% for product in products %}
				<tr>
			       <td class="type-line">{{ product.type }}</td>
			       <td>{{ product.nom }}</td>
			       <td class="contenu-tab">{{ product.contenu }}</td>
			       <td> <a href="{{ path('edit_product', { 'idproduct': product.id }) }}">Editer</a> </td>
			   </tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}