{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-md-12">
		<div class="col-md-6">
			<img src="{{ asset('../web/img/big_logo_text.png') }}" width="45%" alt="grand logo Wild Code School" class="logo-brand" />
		</div>
			</br>
		<div class="col-md-6 entête" >
			<p>Devis</br>
				Réf. : numéro devis</br>
				Date : 14/06/2016</br>
				Date de fin de validité : date + mois</br>
				Code client : CU1509-0052
			</p>
		</div>
	</div>
	<div class="col-md-12 entete2">
		<div class="col-md-5">
			<p>Emetteur : </br>
				INNOV'EDUC</br>
				18, rue de la gare</br>
				28240 LA LOUPE</br></br>
				Téléphone : 09-72-52-63-94</br>
				Email : contact@wildcodeschool.fr</br>
				web : http://wildcodeschool.fr</br>
			</p>
		</div>
		<p>Adressé à :</p>
		<div class="col-md-7 adresse">
			
			<p>ADRESSE CLIENT A COMPLETER...</p>
			
		</div>
</br>
	</div>
	<div class="col-md-2-offset col-md-8 tableau">
		</br></br>
		
		<p>	

		<DIV ALIGN="LEFT">
		<TABLE CELLPADDING=3 BORDER="1">
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT">Désignation</TD>
		<TD ALIGN="CENTER">Quantité</TD>
		<TD ALIGN="CENTER" COLSPAN=2><SPAN>Prix unitaire <SMALL>HT</SMALL> euros</SPAN></TD>
		<TD ALIGN="RIGHT">Prix total <SMALL>HT</SMALL> euros</TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD ALIGN="CENTER"> </TD>
		<TD></TD>
		<TD ALIGN="RIGHT"> </TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD ALIGN="CENTER"> </TD>
		<TD></TD>
		<TD ALIGN="RIGHT"> </TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD ALIGN="CENTER"> </TD>
		<TD></TD>
		<TD ALIGN="RIGHT"> </TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT">Un blabla</TD>
		<TD ALIGN="CENTER">1</TD>
		<TD ALIGN="RIGHT" COLSPAN=2><SPAN>0, 00</SPAN></TD>
		<TD ALIGN="RIGHT">0, 00</TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD ALIGN="CENTER"> </TD>
		<TD></TD>
		<TD ALIGN="RIGHT"> </TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD ALIGN="CENTER"> </TD>
		<TD></TD>
		<TD ALIGN="RIGHT"> </TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD ALIGN="CENTER"> </TD>
		<TD></TD>
		<TD ALIGN="RIGHT"> </TD>
		</TR>
		<TR VALIGN="BASELINE"><TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD></TD>
		<TD ALIGN="LEFT" COLSPAN=1><SPAN><SMALL>TOTAL</SMALL> </SPAN></TD>
		<TD ALIGN="LEFT"><SMALL>HT</SMALL></TD>
		<TD ALIGN="RIGHT">0, 00</TD>
		</TR>
		<TR VALIGN="BASELINE"><TD></TD>
		<TD ALIGN="RIGHT"><SMALL>TVA</SMALL> à</TD>
		<TD ALIGN="LEFT">19.6%</TD>
		<TD ALIGN="RIGHT">0, 00</TD>
		</TR>
		<TR VALIGN="BASELINE"><TD></TD>
		<TD ALIGN="RIGHT"><SPAN  CLASS="textbf">TOTAL</SPAN></TD>
		<TD ALIGN="LEFT"><SPAN  CLASS="textbf">TTC Euros</SPAN></TD>
		<TD ALIGN="RIGHT"><SPAN  CLASS="textbf">0, 00</SPAN></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"><SPAN  CLASS="textbf">Adresse de la prestation :</SPAN></TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"><SPAN  CLASS="textbf">Dates de la prestation :</SPAN> confer désignation</TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"><SPAN  CLASS="textbf">Conditions de paiement :</SPAN> à la réception</TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"><SPAN  CLASS="textbf">Facture adressée en 1 exemplaire à :</SPAN></TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD></TD>
		<TD ALIGN="LEFT" COLSPAN=3><SPAN> <SPAN  CLASS="textbf">Signature du fournisseur :</SPAN></SPAN></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD></TD>
		<TD ALIGN="LEFT" COLSPAN=3><SPAN> Gilles LAMIRAL</SPAN></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT"> </TD>
		<TD></TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD></TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT">Membre d'une association de gestion agréée par</TD>
		<TD></TD>
		<TD ALIGN="LEFT" COLSPAN=3><SPAN><SPAN  CLASS="textbf">Signature du client :</SPAN></SPAN></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT">l'administration fiscale.</TD>
		<TD ALIGN="CENTER"> </TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT">Le règlement des honoraires par chèques libellés</TD>
		<TD ALIGN="CENTER"> </TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD ALIGN="LEFT">à mon nom, Gilles LAMIRAL, est accepté.</TD>
		<TD></TD>
		<TD></TD>
		</TR>
		<TR VALIGN="BASELINE"><TD></TD>
		</TR>
		</TABLE></DIV>
		<P>
		<DIV ALIGN="LEFT">
		</DIV>
	</div>
			</p>
			</div>
		</div>

{% endblock %}






