{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-md-12">
		<div class="col-md-3"></div> 
		<div class="col-md-6 prod-form">
			<div class="col-md-12">
				<h2 class="new-prod-title"> Créer un Document </h2>
			</div>
    		<form method="post" action="document.php">
    			<div class="col-md-12">
    				<div class="col-md-5">
						<p><label for="type">type de document  </label>
					</div>
					<div class="col-md-7">
						<select name="type" id="document">
							<option value="devis">Devis</option>
							<option value="facture">Facture</option>
							<option value="avoir">Avoir</option>
						</select>
					</div>
				</div>
						</p></br>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">référence du document </label>
					</div> 
					<div class="col-md-7">
						<input type="text" name="référence" /></p></br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">date de création du document </label>
					</div> 
					<div class="col-md-7">
						<input type="date" name="date de création" /></p></br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">état du document </label>
					</div> 
					<div class="col-md-7">
						<input type="boolean" name="etat" /></p></br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">nombre d'échéances </label>
					</div> 
					<div class="col-md-7">
						<input type="number" name="nombre d'échéances" /></p></br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">montant </label>
					</div> 
					<div class="col-md-7">
						<input type="number" name="valeur" /></p></br>
					</div>
				</div>
			</form>
				<div class="col-md-12">
					<div class="col-md-7">
						<input type="submit" class="btn btn-primary" value="Enregistrer"/>
					</div>
					<div class="col-md-5">
						<a href="{{ path('new_devis') }}"><input type="submit" class="btn btn-primary" value="Ouvrir"/></a>	
					</div>
				</div>	
	</div>
</div>


{% endblock %}

