{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-md-12">
		<div class="col-md-6">
			<img src="{{ asset('../web/img/big_logo_text.png') }}" width="45%" alt="grand logo Wild Code School" class="logo-brand" />
		</div>
			</br>
		<div class="col-md-6 entête" >
			<p>DEVIS</br>
				Réf. : numéro devis</br>
				Date : 14/06/2016</br>
				Date de fin de validité : date + mois</br>
				Code client : CU1509-0052
			</p>
				</br></br>
		</div>
	</div>
	<div class="col-md-12 entete2">
		<div class="col-md-6">
			<p>Emetteur : </br></br>
				INNOV'EDUC</br>
				18, rue de la gare</br>
				28240 LA LOUPE</br></br>
				Téléphone : 09-72-52-63-94</br>
				Email : contact@wildcodeschool.fr</br>
				web : http://wildcodeschool.fr</br>
			</p>
		</div>
		<p>Adressé à :</p>
		<div class="col-md-6 adresse">
			
			<p>ADRESSE CLIENT A COMPLETER...</br>
				Peut-être différente de l'adresse client</p>
			
		</div>
</br>
	</div>

	<div class="col-md-4-offset col-md-4 tableau">
		</br></br>
		<p>
			<div align="CENTER"> 
				<table cellpadding=3 border="1">
					<tr valign="baseline"><td align="left">désignation</td> 
						<td align="center">quantité</td> 
						<td align="center" colspan=2>
							<span>prix unitaire <small>ht</small> euros</span>
						</td> <td align="right">prix total <small>ht</small> euros</td>
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td>
						<td align="center"> </td> 
						<td></td> 
						<td align="right"> </td>
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td>
						<td align="center"> </td>
						<td></td> 
						<td align="right"> </td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td>
						<td align="center"> </td> 
						<td></td> 
						<td align="right"> </td> 
					</tr> 
					<tr valign="baseline">
						<td align="left">un blabla</td>
						<td align="center">1</td> 
						<td align="right" colspan=2><span>0, 00</span></td> 
						<td align="right">0, 00</td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td> 
						<td align="center"> </td> 
						<td></td> 
						<td align="right"> </td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td>
						<td align="center"> </td> 
						<td></td> 
						<td align="right"> </td>
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td> 
						<td align="center"> </td> 
						<td></td> 
						<td align="right"> </td> 
					</tr> 
					<tr valign="baseline">
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td></td> 
						<td align="left" colspan=1>
							<span><small>total</small> </span></td> 
						<td align="left">
							<small>euros H.T.</small>
						</td> 
						<td align="right">0, 00</td> 
					</tr> 
					<tr valign="baseline">
						<td></td> 
						<td align="right"><small>tva</small> a</td> 
						<td align="left">0%</td> 
						<td align="right">0, 00</td> 
					</tr> 
					<tr valign="baseline"><td></td> 
						<td align="right"><span class="textbf">total</span></td> <td align="left"><span class="textbf">euros T.T.C.</span></td> 
						<td align="right"><span class="textbf">0, 00</span></td>
					</tr> 
					<tr valign="baseline">
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"><span class="textbf">adresse de la prestation :</span></td>
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td> 
						<td></td> 
					</tr> 
					<tr valign="baseline"><td align="left"> </td> 
						<td></td> 
					</tr> 
					<tr valign="baseline"><td align="left"> </td> 
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td> 
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"><span class="textbf">dates de la prestation :</span> cf. désignation</td> 
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"><span class="textbf">conditions de paiement :</span> a la reception</td> 
						<td></td> 
					</tr> 
					<tr valign="baseline"><td align="left"><span class="textbf">facture adressee en 1 exemplaire à :</span></td>
					 <td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td> 
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td> 
						<td></td> 
						<td align="left" colspan=3><span> <span class="textbf">signature du client :</span></span></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td> 
						<td></td> 
						<td align="left" colspan=3><span> nom client</span></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left"> </td> 
						<td></td> 
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td></td> 
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left">Coditions de règlement :</td> 
						<td></td> 
						<td align="left" colspan=3><span><span class="textbf">date signature client : </span></span></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left">Conditions générales de vente</td> 
						<td align="center"> </td> 
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left">Mode de règlement :</td> 
						<td align="center"> </td> 
						<td></td> 
					</tr> 
					<tr valign="baseline">
						<td align="left">Pénalités de retard (facture)</td> 
						<td></td> 
						<td></td> 
					</tr> 
					<tr valign="baseline"><td></td> 
					</tr> 
				</table>
			</div> 
			<p>
			<div align="left"> </div></br>
		</div>
			</p>
		</p>

{% endblock %}






