
{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-md-12">
		<div class="col-md-6">
			<img src="{{ asset('../web/img/big_logo_text.png') }}" width="45%" alt="grand logo Wild Code School" class="logo-brand" />
		</div>
			</br>
		<div class="col-md-5 entete" >
			<p>DEVIS</br>
				Réf. : numéro devis</br>
				Date : {{ "now"|date("d/m/Y") }}</br>
				Date de fin de validité : {{ "now"|date_modify("+1 month")|date("d/m/Y") }}</br>
				Code client : CU1509-0052
			</p>
				</br></br>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="col-md-12 entete2">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<p>Emetteur : </br></br>
				INNOV'EDUC</br>
				18, rue de la gare</br>
				28240 LA LOUPE</br></br>
				Téléphone : 09-72-52-63-94</br>
				Email : contact@wildcodeschool.fr</br>
				web : http://wildcodeschool.fr</br>
			</p>
		</div>
		<p>Adressé à :</p>
		<div class="col-md-5 adresse">
			<p>ADRESSE CLIENT A COMPLETER...</br>
			Peut-être différente de l'adresse client</p>
		</div>
		<div class="col-md-1"></div>
		</br>
	</div>
	<div class="phrase">
		<p>Montants exprimés en euros</p>
	</div>
	<div class="col-md-12">
		<div class="col-md-1"></div>
		<div class="col-md-10 tableau">
			</br></br>
				<div align="CENTER"> 
					<table width=1000px cellpadding=3 border="1">
						<tr valign="baseline">
							<td width= 500px align="left">Désignation</td> 
							<td align="center">TVA</td> 
							<td align="center" colspan=2>P.U HT</td>
							<td align="right"> Qté</td>
							<td align="right"> Total HT</td>
						</tr> 
						<tr height=500px valign="baseline">
							<td align="left"></td> 
							<td align="center"></td> 
							<td align="center" colspan=2></td> 
							<td align="right"></td>
							<td align="right"></td>
						</tr> 
					</table>
					<div class="col-md-12 ligne">
						<div class="col-md-4">Conditions de reglements</div>
						<div class="col-md-4">Payée au vue des heures réalisées</div>
						<div class="col-md-2">Total HT</br>Total TTC</div>
						<div class="col-md-2">6000</div></br>6000</div>
					</div>
				</div>
				<div class="col-md-12">
		<div class="col-md-5"></div>
		<div class="col-md-2">
	        <a href="{{ path('new_pdf') }}" class="btn-danger btn-lg">PDF</a>
	    </div>
	    <div class="col-md-5"></div>
	</div> 
		</div>
	</div>
		

{% endblock %}

