<style type="text/css">
	table{ vertical-align:top;width:100%;font-family:helvetica;line-height:3mm; }
	img{
		width:50px;
		height:50px;
	}
	td.right_haut {text-align: right;}
	td.right_bas {border:1px solid #CFD1D2;}
	table.border td{border:1px solid #CFD1D2; padding:3mm 1mm 1mm 2mm;height:400px;}
	table.border th{ background: #E7E7E7; color:#000; font-weight:normal; border:solid 1px #CFD1D2; padding:3mm 1mm 1mm 2mm; text-align: left; }
	table.total td{border:1px solid #CFD1D2; padding:3mm 1mm;}
	td.noborder {border:none;}
	hr {color: #E5A047}
</style>

<page backtop="10mm" backright="10mm" backleft="10mm" backbottom="20mm" footer="page; date; heure;">
	<page_footer>
	<hr />
	<p style="text-align:center">Blabla</p>	
	</page_footer>

	<table style="line-height:4mm;">
		<tr>
			<td style="width:50%; ">
				{# <img src="../web/img/big_logo_text.png" width="45%" alt="grand logo Wild Code School" class="logo-brand" /> #}

			</td>
			<td class="right_haut" style="width:50%; ">
				<p>DEVIS<br/>
				Réf. : numéro devis<br/>
				Date : {{ "now"|date("d/m/Y") }}<br/>
				Date de fin de validité : {{ "now"|date_modify("+1 month")|date("d/m/Y") }}<br/>
				Code client : CU1509-0052
				</p>


			</td>
		</tr>
	</table>
	<table style="margin-top:10mm;  line-height:4mm;">
		<tr>
			<td style="width:50%; ">
				<p>Emetteur : <br/><br/>
				INNOV'EDUC<br/>
				18, rue de la gare<br/>
				28240 LA LOUPE<br/><br/>
				Téléphone : 09-72-52-63-94<br/>
				Email : contact@wildcodeschool.fr<br/>
				web : http://wildcodeschool.fr
				</p>

			</td>
			<td class="right_bas" style="width:50%; ">
				<p>Destinataire :<br/>
				Peut-être différente de l'adresse client</p>
				<br/>
			</td>
		</tr>
	</table>
	<table style="text-align:right; width:100%; margin-top:4mm;">
		<tr>
			<td style="width:50%;"></td>
			<td style="text-align:right; width:50%;">Montants exprimés en euros</td>
		</tr>
	</table>
	<table class="border" style="margin-top:2mm;">
		<thead >
			<tr>
				<th style="width:60%; " align:"left">Désignation</th> 
				<th style="width:10%; ">TVA</th> 
				<th style="width:10%; ">P.U HT</th>
				<th style="width:7%; "> Qté</th>
				<th style="width:13%; "> Total HT</th>
			</tr>
		</thead> 
		<tr >
			<td align="left">test</td> 
			<td align="center">20.6</td> 
			<td align="center">3 </td> 
			<td align="center">1</td>
			<td align="center">3 </td>
		</tr>
	</table>
	<table class="total"> 
		<tr >
			<td class="noborder" style="width:35%">Conditions de reglements</td> 
			<td class="noborder" style="width:35%">Payée au vue des heures réalisées</td> 
			<td style="width:15%">Total HT :</td> 
			<td style="width:15%">Total TTC :</td>
		</tr> 
	</table>
</page>
