@font-face
{
	font-family: 'AlwynBold';
	src: url('font/AlwynBold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'AlwynRegular';
	src: url('font/AlwynRegular.ttf');
	font-weight: normal;
	font-style: normal;
}
/*------------->    NAVBAR   <------------*/
.navbar-header img {
	width: 30%;
	height: 30%;
	padding-top: 1px;
	padding-bottom: 1px;

}
.navbar-collapse {
	font-size: 16px;
}
/* -------->     LOGIN PAGE      <--------- */

.font-log {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 2px;
	color: #35383a;
}
.log-title {
	color: #1fa597;
	text-align: center;
}
.champ-log {
	margin: 3px;
}
/* -------->     DASHBOARD      <--------- */

*{
	font-family: 'AlwynRegular';
}
.fond {
	background-color: rgba(53,56,58,0.9);
	margin-top: -20px;
	position: relative;
	height:100vh;
}
.pageca {
	margin-top:40px;
}
.pagepaiement {
	margin-top: -10px;
}
.retard {
	height: 300px;
}
.retard, .annuel, .mensuel {
	text-align: center;
	line-height: 30px;
	height: 250px;	
}
.annuel, .mensuel {
	

}
.vide2 {
	height: 100px;
	color: rgba(238,162,83,1);
	padding-top: 40px;
	font-size: 35px;
	text-align: center;
}
.vide3 {
	height: 0px;
}
.titre {
	background-color: #1fa597;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 50px;
	padding-top: 8px;
	color:#35383a;
}
.bandeau {
	background-color: rgba(238,162,83,1);
	text-align: center;
	position: fixed; bottom: 0;
	height: 50px;
	font-size: 20px;
	line-height: 50px;

}
.blanc {
	background-color: #f1f1f1;
	height: 120px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 15px;
	font-size: 18px;
	line-height: 40px;
}
/* -------->     NEW PRODUCT PAGE      <--------- */

.new-prod-title {
	text-align: center;
	color: #1fa597;
}
.prod-form {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 2px;
	padding: 10px;
}


.btn {
	/*background-color: #1fa597;*/
	border: none;
}

.btn:hover {
	background-color: #f9a02e;
}
.prod-widg {
	margin-top: 5px;
}
.main-logo {
	width: 100%;
	height: 100%;
}

/* -------->     LISTE PRODUCT PAGE      <--------- */
.list-product-title {
	text-align: center;
	color: #1fa597;
}
/* -------->     EDIT PRODUCT PAGE      <--------- */

.edit-prod-form {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 2px;
	padding: 10px;
}

/* -------->     NEW ORGANISME PAGE      <--------- */

h2{
	text-align: center;
	color: #1fa597;
}

/* -------->     EDIT ORGANISME PAGE      <--------- */

.edit-orga-form {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 2px;
	padding: 10px;
}
.edit-line {
	margin-top: 5px;
}

/* --------->    LISTE ORGANISMES ------> */

.list-org-title {
	text-align: center;
	color: #1fa597;
}

.tab_orga {
	width: 100%;
}
/* --------->    LISTE ECOLES ------> */

.list-ecole-title {
	text-align: center;
	color: #1fa597;
}

.tab_ecole {
	width: 100%;
}

/* ------->    NEW DOCUMENT  PAGE      <--------- */

.entete {
	text-align: right;
}
.entete2 {
	width : 100%;
	box-sizing: border-box;
}
.adresse {
	border: solid black 1px;
	height: 150px;
}

.tableau {
	width : 100%;
}
.phrase {
	text-align: right;
	margin-right: 150px;
	padding-: 40px;
}


/* ------->    NEW DEVIS  PAGE      <--------- */
.bouton {
	height:100px;
}
.pied {
	text-align: center;

}
.vide {
	height: 100px;
	text-align: center;
}

.ui-widget-header {
	color: black !important;
}
#myTable {
	width: 100%;

}

/* -------->     FICHE CLIENT      <--------- */

.row1 {
	height:200px;
	
}
.row2 {
	height:50px;
	text-align: center;
	margin-top: 270px;
}
.row3 {
	height:200px;
}
.vide {
	height:50px;
}
.col1 {
	background-color: rgba(213,211,213,0.8);
	border-radius: 5px;
	/*border: solid #1fa597 2px;*/
	padding: px;
	height:380px;
	line-height: 30px;
}
.col2 {
	line-height: 25px;
}
.devis {
	background-color: rgba(213,211,213,0.8);
	border-radius: 5px;
	/*border: solid #1fa597 2px;*/
	/*padding: 10px;*/
	height:120px;
}
.facture {
	background-color: rgba(213,211,213,0.8);
	border-radius: 5px;
	/*border: solid #1fa597 2px;*/
	/*padding: 10px;*/
	height:130px;
	margin-top: 5px;
}
.avoir {
	background-color: rgba(213,211,213,0.8);
	border-radius: 5px;
	/*border: solid #1fa597 2px;*/
	/*padding: 10px;*/
	height:120px;
	margin-top: 5px;
}
.echeancier {
	background-color: rgba(213,211,213,0.8);
	border-radius: 5px;
	/*border: solid #1fa597 2px;*/
	height:120px;
	margin-top: 5px;
}
.onglet {
	background-color: rgba(241,241,241,0.8);
	border-radius: 5px;
	border: solid #1fa597 2px;
	padding: 0px;
	height:200px;
}
.but {
	cursor: pointer;
}
.pageother {
	height: 150px;
	overflow: auto;
	border-radius: 5px;
}
.case1 {
	background-color: rgb(246, 246, 246);
}
.case2 {
	display:none;
	background-color: rgb(220, 220, 220);
}
.case3 {
	display:none;
	background-color: rgb(200, 200, 200);
}
.but1 {
	background-color: rgb(246, 246, 246);
	color: #1fa597;
	font-size: 15px;
}
.but2 {
	background-color: rgb(220, 220, 220);
	color: #1fa597;
	font-size: 15px;
}
.but3 {
	background-color: rgb(200, 200, 200);
	color: #1fa597;
	font-size: 15px;
}
.reglement {
	text-align: center;

}
.haut {
	height: 15%;
	text-align: center;
}
.milieu {
	height: 75%;
	background-color: white;
	border-radius: 5px;
	padding-top: 5px;
	
}
.bas {
	height: 25%;
}

.bout {
	margin-top: 30px;
}

.font-user {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 2px;
	color: #35383a;
	margin-top: 10px;
}
.btn-register {
	margin-bottom: 20px;
	margin-top: 10px;
}
.champ-log {
	margin-bottom: 10px;
}
.btn-xs{
	text-align: right;
}
.milieu2 {
	height: 80%;
	background-color: white;
	border-radius: 5px;
}
