/*------------->    NAVBAR   <------------*/
.navbar-header img {
	width: 30%;
	height: 30%;
	padding-top: 1px;
	padding-bottom: 1px;
}
.navbar-collapse {
	
}
/* -------->     LOGIN PAGE      <--------- */
.font-log {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 2px;
	color: #35383a;
}
.log-title {
	color: #1fa597;
	text-align: center;
}
.champ-log {
	margin: 3px;
}
/* -------->     DASHBOARD      <--------- */
.retard, .annuel, .mensuel {
	text-align: center;


}
.vide {
	height: 100px;
}

/* -------->     NEW PRODUCT PAGE      <--------- */
.new-prod-title {
	text-align: center;
	color: #1fa597;
}
.prod-form {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 2px;
	padding: 10px;
}
.btn {
	background-color: #1fa597;
	border: none;
}
.btn:hover {
	background-color: #f9a02e;
}
.prod-widg {
	margin-top: 5px;
}
.main-logo {
	width: 100%;
	height: 100%;
}

/* -------->     LISTE PRODUCT PAGE      <--------- */
tr, td, th {
	border: solid black 2px;
	padding: 5px;
}
th {
	text-align: center;
}
.type-line {
	text-align: center;
}
.list-product-title {
	text-align: center;
	color: #1fa597;
}
/* -------->     EDIT PRODUCT PAGE      <--------- */
.edit-prod-form {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 2px;
	padding: 10px;
}
.edit-line {
	margin-top: 5px;
}

/* -------->     NEW ORGANISME PAGE      <--------- */

h2{
	text-align: center;
	color: #1fa597;
}
/* ------->    NEW DOCUMENT  PAGE      <--------- */
.entete {
	text-align: right;
}
.entete2 {
	width : 100%;
	box-sizing: border-box;
}
.adresse {
	border: solid black 1px;
	height: 150px;
}

.tableau {
	width : 100%;
}
.phrase {
	text-align: right;
	margin-right: 150px;
	padding-: 40px;
}