/* -------->     LOGIN PAGE      <--------- */
.font-log {
	background-color: rgba(241,241,241,1);
	border-radius: 5px;
	border: solid #1fa597 1px;
	color: #35383a;
}
.log-title {
	color: #1fa597;
	text-align: center;
}